*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white: #fff;
  --black: #000;
  --main: #ff6e68;
  --lightBlack:#2c2c2c;
}
body{
  font-family: 'Open Sans', sans-serif;
  
}
.container{
  width: 1300px;
  margin: 0 auto;
}
.nav{
  width: 100%;
  height: 70px;
  box-shadow: 0 5px 20px rgba(0, 0,0, 0.1);
  position: fixed;
  top: 0;
  background: var(--white);
  z-index: 1;
}
.nav__container{
  width: 100%;
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}
.nav__left img{
  width: 130px;
  margin-left: -45px;
}
.header{
  background: url('./images/banner.webp');
  width: 100%;
  height: 100vh;
}
a{
  text-decoration: none;
}
.cart-icon{
  color: var(--main);
  font-size: 30px;
  margin-right: -23px;
}
.basket{
  position: relative;
}
.basket span{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -40px;
  top: -10px;
  width: 25px;
  height: 25px;
  background: var(--lightBlack);
 border-radius: 50%;
  color: var(--white);
  font-size: 12px;
}

.row{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.col-2{
  width: 16.33333333333333%;

}
.col-3{
  width: 25%;

}
.col-6{
  width: 50%;
}
.col-9{
  width: 75%;
  
}
.mt-100{
margin-top: 100px;
}
.product{
  padding: 25px;
  width: 100%;
  overflow: hidden;
}
.product__img{
  width: 100%;
  height: 350px;
  overflow: hidden;
}
.product__img img{
  width: 100%;
  height: 100%;
  transition: all .5s linear;
  
}
.product__img img:hover{
transform: scale(1.2);
}

.product__name{
  margin: 10px 0;
  text-transform: capitalize;
  color: #707070;
  text-align: center;
}
.product__discount__price{
  text-align: right;
  font-size: 18px;
  
}
.product__price .discount{
color:silver;
font-weight: 400;
font-size: 13px;
margin-left: 5px;
}
.actualPrice{
  text-decoration: line-through;
  font-size: 18px;
}
.details__image{
  width: 100%;
  height: auto;
  padding-right: 28px;
}
.details__image img{
  width: 80%;
  height: auto;
  margin-bottom: 25px;
}
.details__name{
  font-size: 28px;
  color: #2c2c2c;
  font-weight: 400;
  text-transform: capitalize;
}
.details__price{
  margin: 10px 0;
}
.details__actual{
  text-decoration: line-through;
  font-size: 20px;
}
.details__discount{
  margin-left: 20px;
  font-size: 20px;
}
.details__incDec{
  display: flex;
}
.inc,
.dec,
.quantity{
  width: 60px;
  height: 60px;
  border: 1px solid silver;
  display: flex;
  align-items: center;
  justify-content: center;

}
.quantity{
  border-left: none;
  border-right: none;

}
.btn-default{
  margin-left: 10px;
  width: 100%;
  border: none;
  background: var(--main);
  color: var(--white);
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  cursor: pointer;
}
.details__p{
  margin-top: 15px;
  font-size: 20px;
}
.details__P h2{
  font-weight: 200;
  margin-top: 10px;
  font-size: 10px;
}
/* cart */
.cart{
margin-top: 100px;
margin-left: 20px;
}
.cart h2{
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
.cart__heading{
  background: #f4f6f8;
  padding: 10px;
}
.cart__image img{
width: 100px;
height: 100px;
object-fit: contain;
}
.verticalAlign{
align-items: center;
margin-top: 10px;
}
.text-center{
  text-align: center;
}
.cart__remove{
  cursor: pointer ;
}
.summary{
  padding-left: 10px;
  align-items: center;
}
.summary__heading{
  background: #f4f6f8;
  padding: 10px;
  text-align: center;
 
}
.summary__details{
  background: var(--main);
  color: var(--white);
  padding: 15px;
  
}
.mb-10{
  margin-bottom: 10px;
}
.checkout{
  border: none;
  cursor: pointer;
  outline: none;
  background: var(--white);
  color: var(--main);
  width: 100%;
  padding: 12px 15px;
  font-size: 17px;
  text-transform: uppercase;
  text-align: center!important;
  

}
.cart__price{
  font-weight:600;
}
.cart__total{
  font-weight: 600;
}
.cart__remove{
  font-size: bold;
}

@media(max-width:765px){
  .container{
    width: 100%;
    padding: 0 30px;
   

  }
  .cart-icon{
    margin-right: -15px;
  }
  .basket span{
    margin-right: 13px;
  }
  .col-2{
    width: 100%;
    text-align: center;
    padding: 5px;
  }
  .col-3{
    width: 50%;
  }
  .nav__left{
    margin-left: 25px;
  }
  .header{
    background-position:center;
   }
   .col-6{
     width: 100%;
   }
   .col-9{
     width: 100%;
   }
   .details__image{
    
    padding-right: 0;
    padding-left: 100px;
  }
  .cart__heading{
    display: none;
  }
  .summary-col{
    width: 100%!important;
  }
  .cart__incDec{
    display: flex;
    justify-content: center;
  }
  .cart h2{
    text-align: center;
  }
  .summary__details{
    text-align: center;
  }
  
}

@media(max-width:400px){
  .col-3{
    width: 100%;
  }
  .col-2{
    width: 100%;
  }
  
  .cart-icon{
    margin-right: -15px;
  }
 .basket span{
   margin-right: 13px;
 }
 .nav__left{
   margin-left: 17px;
 }
 .header{
  background-position:center;
 }
 .col-6{
  width: 100%;
  
}
.details__image{
    
  padding-right: 0;
  padding-left: 60px;
  
}
.summary__details{
  text-align: center;
}
}